<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <!--编码-->
    <filter>
        <filter-name>charset.filter</filter-name>
        <filter-class>com.filter.CharSet</filter-class>
        <init-param>
            <param-name>code</param-name>
            <param-value>utf-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>charset.filter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <!--访问限制-->
    <filter>
        <filter-name>urlLimit.filter</filter-name>
        <filter-class>com.filter.UrlLimit</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>urlLimit.filter</filter-name>
        <url-pattern>*.jsp</url-pattern>
    </filter-mapping>

    <!--入口-->
    <servlet>
        <servlet-name>index.servlet</servlet-name>
        <servlet-class>com.servlet.Index</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>index.servlet</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
</web-app>