#login,#user-ipt,#pwd-ipt,.login-registered {
    border: 1px dashed gray;
    background: transparent;
}

#login {
    position: relative;
    margin: 100px auto;
    width: 380px;
    height: 200px;
    border-radius: 20px;
}

.login-header {
    position: absolute;
    top: -35px;
    left: 140px;
    width: 110px;
    text-align: center;
    font-size: 2.4em;
    font-weight: bold;
    color: lightseagreen;
    background: #fff;
}

.login-ipt {
    margin: 5px auto 35px;
    width: 340px;
}

#user-ipt,#pwd-ipt {
    margin-top: 25px;
    padding: 5px;
    width: 100%;
    color: #999;
}

.login-submit,.login-registered {
    box-sizing: content-box;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.login-registered{color:#333;}

.login-submit {
    border: 0;
    margin-left: 20px;
    background: lightseagreen;
    color: #eee;
}
