
#login {
    position: relative;
    margin: 100px auto;
    width: 380px;
    border-radius: 20px;
}

.login-header {
    position: absolute;
    top: -35px;
    left: 140px;
    width: 110px;
    text-align: center;
    font-size: 2.4em;
    font-weight: bold;
    color: lightseagreen;
    background: #fff;
}

.login-ipt {
    margin: 5px auto 35px;
    width: 340px;
}

#user-ipt,#pwd-ipt {
    margin-top: 20px;
    width: 100%;
}

.login-btn {
    margin-bottom: 12px;
}

.login-submit {
    margin-left: 20px;
}
