.nav {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 1px dashed gray;
    z-index: 10000;
}
.nav > ul,.nav > ul > li{float: right;height: 100%;}

.nav > ul > li,.nav > .title,.nav .nav-li > ul,.nav .nav-li > ul > li {
    padding: 0 18px;
    height: 100%;
    line-height: 50px;
}

.nav > ul > li {border-left: 1px dashed gray;}

.nav > .title{
    float: left;
}

.nav .nav-li {
    position: relative;
}
.nav .nav-li > ul {
    position: absolute;
    display: none;
    right: -18px;
    bottom: -100%;
    width: auto;
    z-index: 1000;
}

.nav .nav-li > ul > li {
    white-space: nowrap;
    border: 1px dashed gray;
    cursor: pointer;
    background: #fff;
}

.nav .nav-li > ul > li:hover > a {
    color: lightseagreen;
}

.form-beautify tr>td:first-child {
    text-align: right;
}

.dashed-box,.dashed-ipt {
    border: 1px dashed gray;
    background: transparent;
}

.dashed-box {
    position: relative;
}

.dashed-box > b {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: red;
    line-height: 18px;
    text-align: center;
    color: #fff;
    cursor: pointer;
}

.dashed-ipt {
    margin-top: 5px;
    padding: 5px;
    color: #999;
}

.btn {
    box-sizing: content-box;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.submit-btn {
    border: 0;
    background: lightseagreen;
    color: #eee;
}

.err-msg {
    width: 100%;
    margin-top: 15px;
    text-align: center;
    color: red;
}
